<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Camp</title>
  </head>
  <body>
    <nav class="navabar navbar-default">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">CAMP</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class=" nav navbar-nav navbar-right">
            <li><a href = "/">LOGIN</a></li>
            <li><a href = "/">REGISTER</a></li>
            <li><a href = "/">LOGOUT</a></li>

          </ul>
        </div>
    </nav>
