<% include ./partials/_header %>

<h1><%= error %></h1>
<form method="POST" action="login">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <button>LOGIN</button>
</form>

<% include ./partials/_footer %>
