<% include partials/_header%>
<h1>New camp</h1>
<form method="POST" action="/campgrounds">
  <input type="text" placeholder="name" name="name"><br>
  <input type="text placeholder="image" name="image"><br>
  <button>SUBMIT</button>

</form>

<% include partials/_footer%>
