<% include ./partials/_header %>
<h1>REGISTER</h1>

<form method="POST" action="/register">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <button>register</button>
</form>

<% include ./partials/_footer %>
